################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/**
**/bin/**
**/obj/**
/src/Fg.HomeWizard.EnergyApi.Client.sln.DotSettings.user
